[submodule "docs/api-guidelines"]
  path = docs/api-guidelines
  url = git@github.com:dexaminds/api-guidelines.git

[submodule "docs/engineering-handbook"]
  path = docs/engineering-handbook
  url = git@github.com:dexaminds/engineering-handbook.git

[submodule "docs/internal-docs"]
  path = docs/internal-docs
  url = git@github.com:dexaminds/docs.git
